@charset "UTF-8";

.container {
	position: relative;
	height: 770px;
	margin: 0 auto;
	background-color: #F4FCF0;
}

.main_container {
	width: 390px;
	height: 390px;
    border-radius: 20px;	
    margin: auto;
    top: 30%;
    position: relative;
    text-align: center;
}

.main_logo {
    margin: 25px 0px 30px;	
}

.main_logo img {
	height: 100px;
}

.sign_in_btn,
.sign_up_btn {
	width: 30%;
	height: 35px;
	background-color: #25C87C;
	color: white;
	border-radius: 10px;
	font-size: 18px;
	margin-top: 5px;
	border: none;
	cursor: pointer;	
}

.main_sentence {
	font-size: 15px;
	font-weight: 300;
	margin: 20px 0px 30px;
	color: black;
}