@charset "UTF-8";

.container {
	position: relative;
	height: 770px;
	margin: 0 auto;
}

.login_container,
.join_container {
	width: 390px;
	height: 390px;
	border: 1px solid #FFFFFF;
    border-radius: 20px;	
    background-color: #FFFFFF;
    margin: auto;
    top: 20%;
    position: relative;
}

.member_logo {
    text-align: center;
    margin: 40px;
}

.member_id,
.member_pw,
.member_btn_div {
	margin: 0 auto;
	padding-bottom: 10px;
    width: 250px;
}

.member_id input,
.member_pw input {
	text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D1FCE9;
    border: 0px solid;
    border-radius: 10px;
    height: 35px;
    width: 100%;
}

.member_id p,
.member_pw p {	
	font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.member_id span {	
	font-size: 10px;
}

.member_btn_div input {
	width: 100%;
	height: 35px;
	background-color: #25C87C;
	color: white;
	border-radius: 10px;
	font-size: 23px;
	margin-top: 2px;
	border: none;
	cursor: pointer;
}
