@charset "UTF-8";

.container {
	position: relative;
	height: 770px;
	margin: 0 auto;
	background-color: #F4FCF0;
}

.login_container,
.join_container {
	width: 390px;
	height: 390px;
	border: 1px solid #FFFFFF;
    border-radius: 20px;	
    background-color: #FFFFFF;
    margin: auto;
    top: 20%;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
}

.member_logo {
    text-align: center;
    margin: 30px 0px 35px;
}

.join_container .member_logo {
    text-align: center;
    margin: 15px 0px 20px;
}

.member_id,
.member_pw,
.member_btn_div,
.member_pw_check {
	margin: 0 auto;
	padding-bottom: 10px;
    width: 250px;
}

.member_id input,
.member_pw input,
.member_pw_check input {
	text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #D1FCE9;
    border: 0px solid;
    border-radius: 10px;
    height: 35px;
    width: 100%;
}

.join_container .member_id input,
.join_container .member_pw input,
.join_container .member_pw_check input {
    margin-top: 8px;
    margin-bottom: 8px;
}

.member_id p,
.member_pw p,
.member_pw_check p {	
	font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}

.join_container .member_id p,
.join_container .member_pw p,
.join_container .member_pw_check p {	
    margin-top: 0px;
}

.member_id span,
.member_pw span,
.member_pw_check span,
.sign_in_sentence {	
	font-size: 10px;
}

.sign_in_sentence {
	display: inline-block;
	margin-top: 10px;
}

.member_btn_div input {
	width: 100%;
	height: 35px;
	background-color: #25C87C;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 5px;
	border: none;
	cursor: pointer;
}
