@charset "UTF-8";

.container {
	width: 1200px;
	margin: 0 auto;
}

.project_list_continer {
	margin: 50px;
	position: relative;
}

.project_add_btn, .project_container {
	width: 330px;
	height: 300px;
	margin: 18px;
	background-color: white;
	border-radius: 5px;
	float: left;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.project_add_btn {
	text-align: center;
	cursor: pointer;
}

.project_add_btn>p {
	margin-top: 108px;
}

.project_add_btn .fa-plus {
	font-size: 25px;
	margin-bottom: 15px;
}

.project_info {
	padding: 30px;
}

.title {
	font-size: 13px;
    color: black;
    margin-right: 12px;
    font-weight: 500;
}

.value {
	font-size: 12px;
	color: #777777;
}

.project_title {
	font-size: 18px;
}

.project_desc {
    font-size: 13px;
    margin-top: 5px;
}

.project_progress {
	font-size: 14px;
	margin-top: 20px;
}

.project_period {
	margin-top: 16px;
}

.project_member_add_btn, .project_member {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	margin: -4px 2px 0px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	line-height: 30px;
	font-size: 13px;
}

.project_member_container {
	margin-top: 20px;
}

.project_member_add_btn {
	background-color: #25C87C;
	color: white;
	cursor: pointer;
}

.project_member {
	background-color: #D1FCE9;
}

.fa-ellipsis-h {
	font-size: 7px;
}

.project_remove_btn {
	color: #25C87C;
	position: absolute;
	top: 28px;
	right: 25px;
	font-size: 20px;
	cursor: pointer;
}

.project_view_btn, .project_modify_btn {
	box-sizing: border-box;
	width: 50%;
	height: 55px;
	position: absolute;
	border-top: 0.5px solid #e6e6e6;
	cursor: pointer;
	text-align: center;
	line-height: 55px;
}

.project_view_btn {
	left: 0;
	bottom: 0;
	color: #25C87C;
}

.project_modify_btn {
	right: 0;
	bottom: 0;
	border-left: 0.5px solid #e6e6e6;
}

.project_progress_bar {
	height: 20px;
	background: #FFFFFF;
	width: 100%;
	border-radius: 5px;
	margin-top: 6px;
}

.project_progress_bar::-webkit-progress-bar {
	height: 20px;
	background: #FFFFFF;
	width: 100%;
	border-radius: 5px;
	border: 0.5px solid #e6e6e6;
}

.project_progress_bar::-webkit-progress-value {
	height: 20px;
	background: #25C87C;
	width: 100%;
	border-radius: 5px;
}

.project_progress_bar::-moz-progress-bar {
	height: 20px;
	background: #FFFFFF;
	width: 100%;
	border-radius: 5px;
	border: 0.5px solid #e6e6e6;
}