@charset "UTF-8";

.container {
	position: relative;
}

.project_title {
	width: 100%;
}

.project_start_date, .project_end_date {
	width: 47.5%;
	text-align: center;
}

.check_sentence {
	color: red;
	font-size: small;
	margin: 8px 0px 0px 8px;
	display: none;
}

/* Project Member Invite Form */
.form_container h5 {
	text-align: center;
	margin: 76px 0 46px;
}

.form_container_icon {
	font-size: 30px;
	margin-bottom: 20px;
}

.form_container_msg {
	font-size: 20px;
}

.search_member_id {
	width: 100%;
}

.search_member_list_container {
	background-color: white;
	width: 400px;
	max-height: 150px;
	position: absolute;
	top: 270px;
	box-sizing: border-box;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	display: none;
	z-index: 1;
	overflow: scroll;
	border-radius: 10px;
}

.search_member_list_container::-webkit-scrollbar {
	display: none;
}

.search_member_list_container li {
	box-sizing: border-box;
	height: 49px;
	padding: 18px 12px;
	font-size: 14px;
	cursor: pointer;
}

.search_member_list {
	background-color: #F4FCF0;
	margin: 10px 20px;
	border-radius: 5px;
}

.search_member_list_container .search_member_list+.search_member_list {
	margin-top: 10px;
}

.project_member_invite_container {
	position: relative;
}

.reset_btn {
	position: absolute;
	display: none;
	top: 227px;
	right: 35px;
	color: #25C87C;
	cursor: pointer;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}