@charset "UTF-8";

.container {
	position: relative;
}

.project_title {
	width: 100%;
}

.project_start_date, .project_end_date {
	width: 47.5%;
	text-align: center;
}

/* Project Member Invite Form */
.form_container h5 {
	text-align: center;
	margin: 76px 0 46px;
}

.form_container_icon {
	font-size: 30px;
	margin-bottom: 20px;
}

.form_container_msg {
	font-size: 20px;
}

.search_member_id {
	width: 100%;
}

.search_member_list_container {
	background-color: white;
	width: 400px;
	max-height: 150px;
	position: absolute;
	top: 270px;
	box-sizing: border-box;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	display: none;
	z-index: 1;
	overflow: scroll;
	border-radius: 10px;
}

.search_member_list_container li {
	box-sizing: border-box;
    height: 49px;
    padding: 18px 12px;
    margin: 0px 30px;
    font-size: 14px;
    cursor: pointer;
}

.search_member_list_container li+li {
	border-top: solid 1px #dadada;
}

.check_sentence {
	color: red;
	font-size: small;
	margin: 8px 0px 0px 8px;
	display: none;
}