@charset "UTF-8";

.container {
	position: relative;
	height: 900px;
	margin: auto;
	background-color: #F4FCF0;
	padding-top: 20px;
}

.todo_container {
	width: 880px;
    height: 880px;
    border-radius: 20px;
    margin: auto;
}

.todo_inner_container {
	width: 206px;
	display: inline-block;
	float: left;
    border-radius: 5px;
    padding: 5px;
    background-color: #FFFFFF;
    margin: 2px; 
    text-align: center;
}

.todo_inner_inner_container {
	border-radius: 10px;
    padding: 4px;
    margin: 5px;
    height: 130px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
}

.todo_id {
	display: inline-block;
	margin: 15px 0px;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Baloo Bhaina 2';
}

.todo_main_title {
	font-size: 15px;
    font-weight: 600;	
    text-align: center;
    margin: 10px 0px;
}

.todo_main_desc {
	font-size: 10px;
    font-weight: 300;
    text-align: center;	
    margin: 10px;
    height: 25px;
    line-height: 15px;
}

.todo_progress {
	margin: 10px 2px;
}

.todo_progress span {
    color: #25C87C;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Baloo Bhaina 2';
}

.todo_progress_bar {
	height: 20px;
	background: #FFFFFF;
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;
}
.todo_progress_bar::-webkit-progress-bar {
	height: 20px;
	background: #FFFFFF;
	width: 100%;
	border-radius: 5px;	
}
.todo_progress_bar::-webkit-progress-value {
	height: 20px;
	background: #25C87C;
	width: 100%;
 	border-radius: 5px;
}
.todo_progress_bar::-moz-progress-bar {
	height: 20px;
	background: #FFFFFF;
	width: 100%;
	border-radius: 5px;
}

.todo_main_btn {	
	text-align: right;
}

.todo_add_btn {
	border: 0px;
	border-radius: 10px;
	background-color: #FFFFFF;
	cursor: pointer;
	width: 95%;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
}

.todo_modify_btn,
.todo_remove_btn {
	cursor: pointer;
	color: #25C87C;
	display: inline-block;
}

.todo_complete {
	border: 0px;
	background-color: #FFFFFF;
	display: inline-block;
}

.todo_complete p {
	background-color: #FFFFFF;
	border: 1px solid;
    padding: 7px 8px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
}

.todo_project_btn {
	border: 0px;
	border-radius: 4px;
	background-color: #D1FCE9;
	cursor: pointer;
	height: 25px;
    width: 100px;	
    margin-left: 2px;
}