@charset "UTF-8";

.container {
	position: relative;
	height: 900px;
	margin: auto;
	background-color: #F4FCF0;
}

.todo_addform_container {
	height: 280px;
}

.todo_title,
.todo_desc,
.todo_mnum {
	margin: 0 auto;
	padding-bottom: 10px;
    width: 100%;
}

.todo_title input,
.todo_desc textarea {
	text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.todo_title p,
.todo_desc p,
.todo_mnum_p {	
	font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.todo_mnum_circle {	
	font-size: 12px;
    margin-top: 9px;
}

.todo_mid {	
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D1FCE9;
}

.todo_btn_div {
    text-align: center;	
}

.todo_btn_div input {
	margin-top: 10px;
}

.todo_modifyform_container 
.todo_btn_div input {
	margin-top: 0px;
}

.mid_checked {
	background-color: #25C87C;	
}