@charset "UTF-8";

.container {
	position: relative;
	height: 900px;
	margin: auto;
	background-color: #25C87C;
}

.todo_container {
	width: 880px;
    height: 880px;
    border-radius: 20px;
    margin: auto;
}

.todo_inner_container {
	width: 205px;
	display: inline-block;
	float: left;
    border-radius: 5px;
    padding: 5px;
    background-color: #FFFFFF;
    margin: 2px; 
    text-align: center;
}

.todo_inner_inner_container {
	border-radius: 10px;
    border: 1px solid #25C87C;
    padding: 4px;
    margin: 5px;
    height: 130px;
}

.todo_id {
	display: inline-block;
	margin: 15px 0px;
	font-size: 20px;
	font-weight: 800;
}

.todo_main_title {
	font-size: 15px;
    font-weight: 600;	
    text-align: center;
    margin: 10px 0px;
}

.todo_main_desc {
	font-size: 10px;
    font-weight: 300;
    text-align: center;	
    margin: 10px;
    height: 25px;
}

.todo_progress {
	margin: 10px 2px;
}

.todo_progress span {
	background: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.todo_progress_bar {
	height: 20px;
	background: #FFFFFF;
	width: calc(100% - 80px);
	border-radius: 5px;
}
.todo_progress_bar::-webkit-progress-bar {
	height: 20px;
	background: #FFFFFF;
	width: calc(100% - 80px);
	border-radius: 5px;	
}
.todo_progress_bar::-webkit-progress-value {
	height: 20px;
	background: #5DFF9C;
	width: calc(100% - 80px);
 	border-radius: 5px;
}
.todo_progress_bar::-moz-progress-bar {
	height: 20px;
	background: #FFFFFF;
	width: calc(100% - 80px);
	border-radius: 5px;
}

.todo_main_btn {	
	text-align: right;
}

.todo_add_btn {
	border: 0px;
	border-radius: 10px;
	background-color: #25C87C;
	cursor: pointer;
	width: 190px;
}

.todo_modify_btn,
.todo_remove_btn {
	cursor: pointer;
	color: #25C87C;
	display: inline-block;
}

.todo_complete {
	border: 0px;
	background-color: #FFFFFF;
	display: inline-block;
}

.todo_complete p {
	background-color: #FFFFFF;
	border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.todo_project_btn {
	border: 0px;
	border-radius: 4px;
	background-color: #D1FCE9;
	cursor: pointer;
	height: 25px;
    width: 100px;	
    margin-left: 2px;
}