@charset "UTF-8";

.container {
	position: relative;
	width: 900px;
	height: 900px;
	margin: 30px auto 30px;
}

.todo_container {
	border: 1px solid #D1FCE9;
	width: 880px;
    height: 800px;
}

.todo_inner_container {
	width: 200px;
	display: inline-block;
	float: left;
	border: 1px solid #5DFF9C;
    border-radius: 4px;
    padding: 5px;
}

.todo_inner_inner_container {
	border-radius: 4px;
    border: 1px solid #25C87C;
    padding: 4px;
    margin: 1px;
}

.todo_title {
	font-size: 20px;
    font-weight: 600;	
}

.todo_desc {
	font-size: 15px;
    font-weight: 300;	
}

.todo_progress_bar {
	border: none;
	height: 20px;
	background: #ffffff;
	border-radius: 4px;
	width: calc(100% - 362px);
}




.todo_add_btn,
.todo_modify_btn,
.todo_remove_btn,
.todo_complete {
	border: 0px;
	border-radius: 4px;
	background-color: #D1FCE9;
	cursor: pointer;
	height: 25px;
    width: 40px;
}

.todo_project_btn {
	border: 0px;
	border-radius: 4px;
	background-color: #D1FCE9;
	cursor: pointer;
	height: 25px;
    width: 100px;	
}

.todo_add_btn {
	float: right;
}

.todo_complete {
	display: inline-block;
}


/* todoAddForm.jsp */

.todo_addform_container,
.todo_modifyform_container {
	width: 360px;
	height: 360px;
	border: 3px solid #25C87C;
    border-radius: 20px;	
    margin: auto;
    padding: 30px;
    top: 10%;
    position: relative;
}

.todo_title,
.todo_desc,
.todo_mnum {
	margin: 0 auto;
	padding-bottom: 10px;
    width: 300px;
}

.todo_title input,
.todo_desc textarea {
	text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #D1FCE9;
    border-radius: 4px;
    height: 30px;
    width: 300px;
}

.todo_desc textarea {
    height: 100px;	
}

.todo_title p,
.todo_desc p,
.todo_mnum p {	
	font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.todo_mid {	
    border: 2px solid #D1FCE9;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo_btn_div {
    text-align: center;	
}

.todo_btn_div input {
	border: 0px;
	border-radius: 4px;
	background-color: #D1FCE9;
	cursor: pointer;
	height: 35px;
    width: 50px;	
}

.mid_checked {
	background-color: #D1FCE9;	
}

div {
/* 	border: 1px solid black; */
}