<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AlarmDao">
	
	<insert id="insertAlarm">
		insert into tbl_alarm
		(a_member_to, a_member_from, p_num)
		values(#{aMemberTo}, #{aMemberFrom}, #{pNum})
	</insert>
	
	<delete id="deleteAlarm" parameterType="int">
		delete
		from tbl_alarm
		where a_num = #{param1}
	</delete>
	
	<delete id="deleteAlarmByPNum" parameterType="int">
		delete
		from tbl_alarm
		where p_num = #{param1}
	</delete>
	
	<delete id="deleteProjectAlarmByMemeberTo" parameterType="int">
		delete
		from tbl_alarm
		where p_num = #{param1} and a_member_to = #{param2}
	</delete>
	
	<select id="selectAlarmList" parameterType="int" resultMap="alarmMap">		
		select a.a_num, a.a_member_to, a.a_member_from, a.p_num, m.m_id,p.p_title
		from tbl_alarm a, tbl_project p, tbl_member m
		where a.a_member_to = #{param1} and a.p_num = p.p_num and a.a_member_from = m.m_num
	</select>
	
	<select id="selectAlarmByPNum" parameterType="int" resultMap="alarmMap">
		select *
		from tbl_alarm
		where p_num = #{param1}
	</select>
	
	<resultMap type="alarm" id="alarmMap">
		<result column="a_num" property="aNum"/>
		<result column="a_member_to" property="aMemberTo"/>
		<result column="a_member_from" property="aMemberFrom"/>
		<result column="p_num" property="pNum"/>
		<result column="m_id" property="mId"/>
		<result column="p_title" property="pTitle"/>	
	</resultMap>
	
</mapper>