<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ProjectMemberDao">
	
	<insert id="insertProjectMember">
		insert into tbl_project_member
		(pm_num, m_num, p_num)
		values(seq_project_member.nextval, #{param1}, #{param2})
	</insert>
	
	<delete id="deleteProjectMember">
		delete
		from tbl_project_member
		where p_num = #{param1} and m_num = #{param2}
	</delete>
	
	<delete id="deleteProjectMemberByPNum">
		delete
		from tbl_project_member
		where p_num = #{param1}
	</delete>

</mapper>