<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TodoDao">

	<insert id="insertTodo" parameterType="todo">
		insert into tbl_todo
		(t_num, t_title, t_desc, t_start_date, t_end_date, t_is_complete, m_num, p_num)
		values(seq_todo.nextval, #{tTitle}, #{tDesc}, #{tStartDate}, #{tEndDate}, #{tIsComplete}, #{mNum}, #{pNum})
	</insert>
	
</mapper>