<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TodoDao">

	<insert id="insertTodo" parameterType="todo">
		<selectKey order="BEFORE" keyProperty="tNum" resultType="int">
			select seq_todo.nextval from dual
		</selectKey>
		insert into tbl_todo
		(t_num, t_title, t_desc, t_is_complete, m_num, p_num)
		values(#{tNum}, #{tTitle}, #{tDesc}, #{tIsComplete}, #{mNum}, #{pNum})
	</insert>

	<update id="updateTodo" parameterType="todo">
		update tbl_todo
		set t_title = #{tTitle}, 
			t_desc = #{tDesc}, 
			t_is_complete = #{tIsComplete}, 
			t_priority = #{tPriority}, 
			m_num = #{mNum}, 
			p_num = #{pNum}
		where t_num = #{tNum}
	</update>	

	<delete id="deleteTodo" parameterType="int">
		delete 
		from tbl_todo
		where t_num = #{tNum}	
	</delete>
	
	<select id="selectTodoByTNum" parameterType="int" resultMap="todoMap">
		select * 
		from tbl_todo 
		where t_num = #{tNum}
	</select>	
	
	<select id="selectTodoByPNum" parameterType="int" resultMap="todoMap">
		select * 
		from tbl_todo 
		where p_num = #{pNum}
		order by t_priority asc
	</select>	

	<select id="selectTodoByMNum" parameterType="int" resultMap="todoMap">
		select * 
		from tbl_todo 
		where m_num = #{mNum}
		order by t_priority asc
	</select>	
	
	<select id="selectTodoByPNumAndMNum" resultMap="todoMap">
		select * 
		from tbl_todo 
		where m_num = #{mNum} and p_num = #{pNum}
		order by t_priority asc
	</select>
	
	<resultMap id="todoMap" type="todo">
		<result column="t_title" property="tTitle" />
		<result column="t_desc" property="tDesc" />
		<result column="t_is_complete" property="tIsComplete" />
		<result column="t_priority" property="tPriority" />
		<result column="m_num" property="mNum" />
		<result column="p_num" property="pNum" />
		<result column="t_num" property="tNum" />
	</resultMap>
</mapper>